:root {
  --primary: rgb(99, 197, 201);
  --bg: aquamarine;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  color: rgba(210, 129, 85, 0.647);
  color-scheme: var(--primary);
}

/* nav header */

header {
  background-color: var(--bg);
  color: rgba(13, 41, 164, 0.804);
  text-align: center;
  padding-top: 15px;
  justify-content: center;
  letter-spacing: 0.3em;
  height: 50px;
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
}
/* tulisan judul */

/* sidebar start */

.menu li {
  padding: 20px;
  text-align: center;
}
.sidebar .menu {
  background-color: var(--bg);
  margin-top: 10px;
  width: 150px;
  float: left;
  height: 960px;
}

/* button login */
.sidebar ul {
  list-style: none;
  padding-top: 10px;
}
.active {
  color: rgba(190, 7, 223, 0.952);
}

a {
  color: black;
}
.menu ul li a:hover {
  color: rgba(72, 16, 203, 0.754);
  transition: all 0.3s ease-in-out;
}
.menu ul li a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgba(72, 17, 167, 0.808);
  transform: scaleX(0);
}

.menu ul li a:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

.active:hover {
  color: rgb(175, 175, 118) !important;
  transition: all 0.3s ease-in-out;
}

/* sidebar end */

/* deskripsi */
.deskripsi {
  display: flexbox;
  flex-direction: row;
  background-color: aquamarine;
  text-align: justify;
  font-size: 20px;
  padding: 20px;
  margin-top: 14px;
}
.desc-style {
  padding: 20px;
}

/* daftar */
.daftar {
  display: flexbox;
  flex-direction: row;
  background-color: aquamarine;
  text-align: justify;
  font-size: 20px;
  padding: 20px;
}
.daftar .daftar-style {
  padding: 20px;
}
/* tabel */
.tabel {
  display: flexbox;
  flex-direction: row;
  background-color: aquamarine;
  text-align: justify;
  font-size: 20px;
  padding: 20px;
}

.tabel .tabel-style {
  padding: 20px;
}
/* login */
.login {
  display: flexbox;
  flex-direction: row;
  background-color: aquamarine;
  text-align: justify;
  font-size: 20px;
  padding: 20px;
  margin-top: 14px;
}
.login-style {
  padding: 20px;
}

.deskripsi,
.login,
.daftar,
.tabel {
  margin-left: 220px;
  margin-right: 20px;
  background-color: rgb(226, 231, 135);
}
/* main */
main {
  top: auto;
  bottom: auto;
}
/* footer */
footer {
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex: content;
  padding: 5.5px;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  height: 35px;
}
